body{
    font-family: sans-serif;
}
.row{
    gap: 40px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    flex-direction: column;
    margin: auto;
    height: 273.07266px;
    width: 100%;
    top: 803.53px;
    left: 199.74px;
    border: solid black 1px;  
    position: absolute; 
    justify-content: center;
    text-align: center;
    gap: 50px;
    min-width: auto;
    max-height: fit-content;
    min-height: fit-content;
    border-left-color: white;
    border-right-color: white;
}
#data{
    position: relative;
    flex-direction: column;
    top: 40px;
    color: black;
    text-align: center;
    font-family: inter;
    font-size: 46.872px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.559px;
    letter-spacing: -0.937px;
}
#value-holders{
    position: relative;
    flex-direction: column;
    top: 40px;
    color: #454745;
    text-align: center;
    font-family: inter;
    font-size: 11.146px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.354px;
}