@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.logo {
  display: none;
}


main {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  position: relative;
}

.container {
  position: relative;
  text-align: center;
  padding-bottom: 500px;
}

.largetext {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10vw;
  font-family: Formular;
  left: 10vw;
  max-width: 30vw;
  color: black;
  font-size: 6vw;
  font-weight: bold;
}

.buttons {
  position: relative;
}

.but1 {
  position: absolute;
  align-items: center;
  right: 500px;
  bottom: 170px;
  border-radius: 7.562px;
  background: rgba(0, 74, 60, 1);
  color: rgba(122, 255, 161, 1);
  border: 0.95px solid #004A3C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding: 15.55px 15.396px 15px 15.396px;
}

.mob img {
  width: 97vw;
}

.but2 {
  right: 10vw;
  position: absolute;
  bottom: 100px;
  display: flex;
  right: 500px;
  padding: 15.55px 15.396px 15px 15.396px;
  align-items: flex-start;
  color: rgba(0, 74, 60, 1);
  border-radius: 7.562px;
  border: 0.95px solid #004A3C;
}

.buttontxt {
  display: flex;
  bottom: 110px;
  position: absolute;
  right: 140px;
  text-align: center;
  width: 350px;
  font-size: 1.5vw;
}

.btn {
  cursor: pointer;
  width: 8vw;
  font-size: 1vw;
}

.but1:hover {
  transform: scale(1.1);
}

.but2:hover {
  transform: scale(1.1);
}


.largetext2 {
  display: none;
}

#fectxt {
  display: flex;
  width: 2.5vw;
  justify-content: space-around;
}

.butmob1 {
  display: none;
}

.buttontxt2 {
  display: none;
}

nav {
  height: 10vh;
}

.nav-links :hover {
  color: #A7AEBA;
}

.nav-links {
  margin-left: 7vw;
  margin-right: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.nav-links li a {
  text-decoration: none;
  color: black;

}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item img {
  margin-right: 0.5vw;
}

.nav-item {

  font-weight: bold;
  color: black;
}

.motoblk {
  position: absolute;
}

.motoblock {
  position: absolute;
  gap: 5vw;
  left: 100px;
  font-size: small;
}

.mototxt {
  position: absolute;
  margin-top: 2vw;
  left: 100px;

}

.butmob2 {
  display: none;
}



@media screen and (max-width: 1050px) {

  .logo {
    display: flex;
  }

  .line {
    width: 27px;
    height: 2px;
    background: black;
    margin: 5px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  nav {

    margin-left: -10px;

    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 10;
    transform: translate(-5%, -50%);

  }

  .nav-links {
    display: flex;
    left: 0;
    position: fixed;
    color: white;
    background-color: rgba(0, 74, 60, 1);
    z-index: 5;
    height: 100vh;
    width: 100%;
    margin-left: 25px;
    flex-direction: column;
    transform: translate(110%);
    transition: all 1s ease-out;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 220px;
    font-size: 15px;




  }

  .nav-links li a {
    color: white;
    font-family: normal;
  }

  #fectxt {
    margin-right: 50px;
    display: flex;
    width: 50px;
    font-size: 11px;


  }

  #fectxt img {
    height: 34px;
    margin-right: 3px;
  }

  .nav-item {
    color: white;
    margin-left: 30px;
  }

  .nav-links.open {
    transform: translate(0) !important;
    margin-left: 0px;


  }

  .hamburger .line:nth-child(2) {
    opacity: 0;
  }

  .nav-links.open .nav-item {
    color: white;
  }

  .hamburger--open .line:nth-child(1) {
    transform: translateY(7px)rotate(45deg);

  }

  .hamburger--open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger--open .line:nth-child(3) {
    transform: translateY(-7px)rotate(-45deg);


  }

  .largetext {
    display: none;
  }

  .container {
    position: relative;
    padding-bottom: 1000px;
  }


  .mob {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    width: 97%;
    height: 500px;
  }

  .mob img {
    display: none;

  }

  .largetext2 {
    position: absolute;
    display: flex;
    top: 300px;
    right: 35px;
    font-size: 60px;



  }

  main {

    display: flex;
    flex-direction: column;
    max-height: 1000px;


  }


  .buttontxt2 {
    top: 500px;

    left: 1px;


    display: flex;
    position: absolute;
    font-family: normal;
    font-weight: 400;


    font-size: 17px;



  }

  .buttontxt {
    display: none;
  }

  .but1 {
    margin-top: 0;
    position: absolute;
    border-radius: 15px;
    display: flex;
    top: 0vh;
    left: 10px;

    padding: 13px 48px 12px 13px;

  }

  /* .butmob1{
             margin-top: 0;
              position: absolute;
              border-radius: 15px;
            display: flex;
             top: 0vh;
             left: 10px;
             
              padding: 13px 48px 12px 13px;
           
            }
           
            .butmob2
            {border-radius: 15px;
              position: absolute;
              margin-top: 0;
              display: flex;
            top: 0px;
            left: 100px;
             
              padding: 10px 48px 12px 24px;
              
               

            }*/

  .motoblk {
    height: 100px;


  }


  .moto {
    position: absolute;

    font-size: small;

    top: 200px;
  }

  .mototxt {
    position: absolute;

    top: 750px;
    margin-left: 15px;

  }


  .feclogo {
    position: absolute;
    margin-left: 20px;
    top: 20px;
    width: 16px;
    height: 34px;
    z-index: 1;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .fec {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50px;
    top: 20px;
    font-size: 10px;
    left: 41.16px;

  }
}