@font-face {
  font-family: Formular-regular;
  src: url('../public/fonts/formular-trial-15/formular-medium-trial.otf');
}
@font-face{
  font-family: Formular;
  src: url('../public/fonts/formular-trial-15/formular-light-trial.otf');
}
@font-face{
  font-family: Formular-bold;
  src: url('../public/fonts/formular-trial-15/formular-bold-trial.otf');
}
.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.ellipse1{
  position: absolute;
  top: 130vw;
  overflow: hidden;
  z-index: -1;
  right: -8vw;
  height: 52vw;
}
.ellipse2{
  position: absolute;
  top: 65vw;
  overflow: hidden;
  z-index: -1;
  left: 5vw;
  height: 16.25vw;
}
.ellipse3{
  position: absolute;
  top: 80vw;
  overflow: hidden;
  z-index: -1;
  right: 5vw;
  height: 20vw;
}